/* PC: desde 992px en adelante */
@media (min-width: 868px) {
    .MarrgenIzquierdo {
        margin-left: 260px;
        min-height: 100vh;

    }
}

/* Tablet: de 768px hasta 991px */
@media (min-width: 867px) and (max-width: 991px) {

}

/* Móvil: hasta 767px (inclusive) */
@media (max-width: 867px) {
        .MarrgenIzquierdo {

        min-height: 100vh;

    }
}