label {
  font-size: 0.95rem;
}
input, select {
  border-radius: 0.5rem;
}

.form-check-input:checked {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.3);
  border-color: #000000;
}
select:focus, input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.4) !important;
  border-color: #000000;
}
