/* Botón flotante para mostrar el sidebar en mobile */
.sidebar-tab {
  width: 20px;
  height: 80px;
  background: #0d6efd;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10000;
}


/* PC: desde 992px en adelante */
@media (min-width: 869px) {
  .sidebar-tab {
    display: flex;
  }
} 