<!-- Navbar -->
<nav class="navbar">
    <!-- Botón de hamburguesa para abrir el sidebar en móviles -->
    <button class="hamburger-btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i> <!-- Icono de menú hamburguesa -->
    </button>
    
    <!-- Contenedor del logo -->
    <div class="logo-container">
      <img src="LogoProSystem.png" alt="Logo" class="logo">
      <span class="brand">ProSystem S.A.</span>
    </div>
  </nav>
  
  <!-- Sidebar: Solo visible en pantallas grandes -->
  <div class="sidebar" [class.active]="sidebarVisible">
    <ul>
      <li><a (click)="navegar('/empresa-listado')">Empresa</a></li>
      <li><a (click)="navegar('/rol-listado')">Rol</a></li>
      <li><a (click)="navegar('/usuario-listado')">Usuario</a></li>
      <li><a (click)="navegar('/permiso-listado')">Permiso</a></li>
      <li><a (click)="navegar('/recurso-listado')">Recurso</a></li>
      <li><a (click)="navegar('/permiso-rol-recurso-listado')">Recurso por rol y tablas</a></li>
    </ul>
    <button class="logout-btn" (click)="cerrarSesion()">Cerrar sesión</button>
  </div>
  
  <!-- Contenido principal -->
  <div class="contenido">
    <h1>Bienvenido a ProSystem</h1>
    <p>Aquí va el contenido principal...</p>
  </div>
  