<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h4><i class="bi bi-building"></i> Crear Usuario</h4>
        </div>

        <div class="card-body">
          <form (ngSubmit)="Crear()">
            <div class="form-group mb-3">
              <label for="nombre"><i class="bi bi-card-text"></i> Nombre</label>
              <input id="nombre" type="text" class="form-control" [(ngModel)]="Datos.NombreUsuario" name="nombre" required>
            </div>

            <div class="form-group mb-3">
              <label for="direccion"><i class="bi bi-geo-alt"></i> Clave</label>
              <input id="direccion" type="text" class="form-control" [(ngModel)]="Datos.Clave" name="direccion" required>
            </div>

            <div class="form-group mb-3">
              <label for="empresa"><i class="bi bi-building"></i> Empresa</label>
              <select id="empresa" class="form-control" [(ngModel)]="Datos.CodigoEmpresa" name="empresa" required>
                <option *ngFor="let empresa of Empresas" [value]="empresa.CodigoEmpresa">
                  {{ empresa.NombreEmpresa }}
                </option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="rol"><i class="bi bi-person-badge"></i> Rol</label>
              <select id="rol" class="form-control" [(ngModel)]="Datos.CodigoRol" name="rol" required>
                <option *ngFor="let rol of Roles" [value]="rol.CodigoRol">
                  {{ rol.NombreRol }}
                </option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="estatus"><i class="bi bi-toggle-on"></i> Estatus</label>
              <select id="estatus" class="form-control" [(ngModel)]="Datos.Estatus" name="estatus">
                <option [value]="1">Activo</option>
                <option [value]="2">Inactivo</option>
              </select>
            </div>

            <div class="form-buttons d-flex justify-content-between">
              <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle"></i> Crear
              </button>
              <button type="button" class="btn btn-danger" (click)="NavegarListado('/usuario-listado')">
                <i class="bi bi-x-circle"></i> Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>