.ColorCard {
  background: linear-gradient(135deg, #ffffff, #fefefe);
  border: 1px solid #3b3f5c; /* azul oscuro tipo navy */
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.441);
}

.ColorFondoLogo{
    background-color: #e1e0e025;
}

